<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Cartel</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bootstrap.css">
    </head>
    <body>
        <div class="form-group" th:object="${Pelicula}">
            <form th:action="@{'/altaCartelBd/'+ ${Pelicula.id}}" method="post" enctype="multipart/form-data">
            <input type="file" class="form-control" name="image">
            <br>
            <button type="submit" class="btn-primary">Insertar</button>
        </form>

    </body>
</html>
